[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = hermes.internal
O = Anshul Gupta
OU = Hermes Server
L = Irvine
ST = California
C = US

[v3_req]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = hermes.internal
IP.1 = 192.168.3.5
