apiVersion: apps/v1
kind: Deployment
metadata:
  name: beets
  labels:
    app: beets
spec:
  replicas: 1
  selector:
    matchLabels:
      app: beets
  template:
    metadata:
      name: beets
      labels:
        app: beets
    spec:
      containers:
        - name: beets
          image: ghcr.io/ansg191-lab/containers/beets:v2.4.0.4@sha256:142e1c84c4e52226da00dd560ce09274f717a4c8a5850f581af244748a15f89a
          imagePullPolicy: IfNotPresent
          envFrom:
            - secretRef:
                name: env
          ports:
            - containerPort: 8080
          command:
            - /bin/sh
            - -c
            - |
              echo "Started beets container"
              exec /receiver/usr/local/bin/receiver
          securityContext:
            runAsUser: 2017
            runAsGroup: 3002
            privileged: false
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          volumeMounts:
            - mountPath: /music
              name: music
            - mountPath: /seedbox
              name: seedbox
            - mountPath: /.config/beets/config.yaml
              name: config
              subPath: config.yaml
            - mountPath: /receiver
              name: beets-receiver
              readOnly: true
      restartPolicy: Always
      securityContext:
        fsGroup: 3002
      volumes:
        - name: music
          hostPath:
            path: /data/Music2
        - name: seedbox
          hostPath:
            path: /data/seedbox
        - name: config
          secret:
            secretName: config
        - name: beets-receiver
          image:
            reference: ghcr.io/ansg191/torrent-beets-importer/receiver:main
            pullPolicy: Always
      nodeSelector:
        kubernetes.io/arch: amd64
