apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: teslaboard
  namespace: teslamate
  labels:
    app: teslaboard
spec:
  replicas: 1
  serviceName: teslaboard
  selector:
    matchLabels:
      app: teslaboard
  template:
    metadata:
      name: teslaboard
      labels:
        app: teslaboard
    spec:
      containers:
        - name: teslaboard
          image: teslamate/grafana:2.2.0@sha256:f88cbb90a8c7afa122c6b6851a647edfe7ce7112724db4a8d94853a454f1106a
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
              protocol: TCP
              name: http
          env:
            - name: DATABASE_USER
              valueFrom:
                secretKeyRef:
                  key: username
                  name: database-secrets
            - name: DATABASE_PASS
              valueFrom:
                secretKeyRef:
                  key: password
                  name: database-secrets
            - name: DATABASE_NAME
              value: teslamate
            - name: DATABASE_HOST
              valueFrom:
                secretKeyRef:
                  key: host
                  name: database-secrets
            - name: GF_SERVER_ROOT_URL
              value: "https://teslaboard.anshulg.direct/"
          volumeMounts:
            - mountPath: /var/lib/grafana
              name: data
            - mountPath: /tmp
              name: tmp
          securityContext:
            runAsUser: 10001
            runAsGroup: 10001
            runAsNonRoot: true
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
          readinessProbe:
            httpGet:
              port: http
              path: /api/health
          resources:
            requests:
              cpu: 10m
            limits:
              memory: 512Mi
      restartPolicy: Always
      securityContext:
        fsGroup: 10001
      volumes:
        - name: tmp
          emptyDir:
            medium: Memory
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 5Gi
