apiVersion: batch/v1
kind: CronJob
metadata:
  name: miniflux-backup
spec:
  schedule: "0 22 * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          initContainers:
            - name: pgdump
              image: postgres:17.7@sha256:7352e0c4d62bbac8aa69d95e40220a60967c4a19f9c4f65b4d118175f7ce9e3b
              imagePullPolicy: IfNotPresent
              command:
                - sh
                - -c
                - |
                  pg_dump -Fd miniflux -f /backup -v
              env:
                - name: PGHOST
                  value: miniflux-postgres-postgresql
                - name: PGPORT
                  value: "5432"
                - name: PGUSER
                  value: miniflux
                - name: PGPASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: database-secret
                      key: password
              volumeMounts:
                - mountPath: /backup
                  name: backup
          containers:
            - name: restic
              image: creativeprojects/resticprofile:0.32.0@sha256:642311198cdf4736fbcdab4f98943fb462b56dd6e7a87465d393845cf99004f8
              imagePullPolicy: IfNotPresent
              command: [ "resticprofile", "backup" ]
              env:
                - name: RESTIC_REST_USERNAME
                  value: miniflux-restic
                - name: RESTIC_REST_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      key: restic-password
                      name: backup-secrets
              volumeMounts:
                - mountPath: /resticprofile/profiles.yaml
                  name: profile
                  subPath: profiles.yaml
                - mountPath: /resticprofile/miniflux.txt
                  name: backup-secrets
                  subPath: miniflux.txt
                - mountPath: /backup
                  name: backup
          restartPolicy: OnFailure
          volumes:
            - name: backup
              emptyDir: { }
            - name: profile
              configMap:
                name: restic-profile
            - name: backup-secrets
              secret:
                secretName: backup-secrets
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: restic-profile
data:
  profiles.yaml: |
    version: "1"

    global:
      restic-lock-retry-after: "1m"
      restic-stale-lock-age: "4h"

    default:
      repository: "rest:http://restic.restic.svc.cluster.local/miniflux-restic/"
      initialize: true
      password-file: "/resticprofile/miniflux.txt"
      compression: "max"
      force-inactive-lock: true

      env:
        RESTIC_HOST: "miniflux"

      retention:
        before-backup: false
        after-backup: true
        keep-daily: 7
        keep-weekly: 4
        keep-monthly: 12
        keep-yearly: 1
        prune: true
        host: false

      backup:
        source:
          - "/backup"
        tag:
          - "miniflux"
