version: "2"

services:
  kanidm:
    image: docker.io/kanidm/server:1.8.5@sha256:55af50cf02909ff8f62d3a083870e697a47658c2dac94598dc5dbeb7de5955f3

    ports:
      - "127.0.0.1:8443:8443"
      - "127.0.0.1:3636:3636"

    volumes:
      - /srv/kanidm/data:/data
      - /srv/kanidm/certs:/certs:ro
      - /srv/kanidm/backups:/backups

    restart: always
    user: "${KANIDM_UID}:${KANIDM_GID}"
    cap_drop:
      - ALL
    # read_only: true

    healthcheck:
      test: ["CMD", "/sbin/kanidmd", "healthcheck", "-c", "/data/server.toml"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 60s
      start_interval: 5s

    deploy:
      resources:
        reservations:
          cpus: "0.25"
          memory: 1G
        limits:
          cpus: "0.85"
          memory: 2G
