[Unit]
Description=Mirror git repositories from GitHub and SourceHut
After=network-online.target nss-lookup.target
Wants=network-online.target
OnFailure=status-email-user@%n.service

[Service]
Type=oneshot
ExecStart=/usr/bin/github-mirror -C /etc/github-mirror.conf
Restart=no
User=git
TimeoutStartSec=5m

# Resource control
Nice=10
CPUQuota=20%
MemoryMax=64M
