[Unit]
Description=Mirror git repositories from GitHub and SourceHut every 5 minutes

[Timer]
OnCalendar=*:0/5
Persistent=true
AccuracySec=1m

[Install]
# A list of units who when activated will try and activate this unit
WantedBy=timers.target
# A list of units to enable or disable when this unit is enabled or disabled (e.g., with systemctl enable)
Also=
