[Unit]
Description=Persistent SSH ControlMaster connection to git server at %i
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/ssh -N -M -S /srv/git/.ssh/master-%%C -o ControlPersist=yes git@%i
ExecStop=/usr/bin/ssh -O exit -S /srv/git/.ssh/master-%%C git@%i
User=git
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
