apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rss-bridge-memcached
  namespace: argocd
spec:
  project: default
  source:
    chart: memcached
    repoURL: https://charts.bitnami.com/bitnami
    targetRevision: 8.2.3
  destination:
    server: https://kubernetes.default.svc
    namespace: rss-bridge
