apiVersion: apps/v1
kind: Deployment
metadata:
  name: cyber-chef
  labels:
    app: cyber-chef
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cyber-chef
  template:
    metadata:
      name: cyber-chef
      labels:
        app: cyber-chef
    spec:
      containers:
        - name: cyber-chef
          image: mpepping/cyberchef:v10.22.1@sha256:547e6af4bd3037b8bbea1c4823631c49a4381d4fe813c45bb26f1c649a9558a0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
      restartPolicy: Always
