apiVersion: apps/v1
kind: Deployment
metadata:
  name: cyber-chef
  labels:
    app: cyber-chef
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cyber-chef
  template:
    metadata:
      name: cyber-chef
      labels:
        app: cyber-chef
    spec:
      containers:
        - name: cyber-chef
          image: mpepping/cyberchef:v10.20.0@sha256:3c5d75890873c895c56a73f7f88b97fcd33991551858023236debaeeb2f9d57c
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
      restartPolicy: Always
