apiVersion: batch/v1
kind: CronJob
metadata:
  name: kellnr-backup
spec:
  schedule: "0 13 * * *"
  concurrencyPolicy: Replace
  jobTemplate:
    spec:
      template:
        spec:
          initContainers:
            - name: pgdump
              image: postgres:17.6@sha256:d17be73073d6e73a005c239c67b8c9f0331925d05bd874964f445a9f698fbf72
              imagePullPolicy: IfNotPresent
              command:
                - sh
                - -c
                - |
                  pg_dump -Fd kellnr -f /backup -v
              env:
                - name: PGHOST
                  value: kellnr-postgresql
                - name: PGPORT
                  value: "5432"
                - name: PGUSER
                  value: kellnr
                - name: PGPASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: database-secrets
                      key: password
              volumeMounts:
                - mountPath: /backup
                  name: backup
          containers:
            - name: kellnr-backup
              image: creativeprojects/resticprofile:0.31.0@sha256:beaf6f8e589b94fd69ed8d9d000c7bd09d9226e3b1e31f2b22515c2d4711dd12
              imagePullPolicy: IfNotPresent
              command:
                - resticprofile
                - backup
              env:
                - name: RESTIC_REST_USERNAME
                  valueFrom:
                    secretKeyRef:
                      key: restic-username
                      name: backup-secrets
                - name: RESTIC_REST_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      key: restic-password
                      name: backup-secrets
              volumeMounts:
                - mountPath: /resticprofile/profiles.yaml
                  name: profile
                  subPath: profiles.yaml
                - mountPath: /resticprofile/kellnr.txt
                  name: backup-secrets
                  subPath: kellnr.txt
                - mountPath: /opt/kdata
                  name: kellnr-storage
                  readOnly: true
                - mountPath: /backup
                  name: backup
                  readOnly: true
          restartPolicy: OnFailure
          affinity:
            podAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - topologyKey: kubernetes.io/hostname
                  labelSelector:
                    matchLabels:
                      app.kubernetes.io/instance: kellnr
                      app.kubernetes.io/name: kellnr
          volumes:
            - name: backup
              emptyDir: {}
            - name: kellnr-storage
              persistentVolumeClaim:
                claimName: kellnr
            - name: profile
              configMap:
                name: restic-profile
            - name: backup-secrets
              secret:
                secretName: backup-secrets
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: restic-profile
data:
  profiles.yaml: |
    version: "1"

    global:
      restic-lock-retry-after: "1m"
      restic-stale-lock-age: "4h"

    default:
      repository: "rest:http://restic.restic.svc.cluster.local/kellnr-restic/"
      initialize: true
      password-file: "/resticprofile/kellnr.txt"
      compression: "max"
      force-inactive-lock: true

      env:
        RESTIC_HOST: "kellnr"

      retention:
        before-backup: false
        after-backup: true
        keep-hourly: 24
        keep-daily: 7
        keep-weekly: 4
        keep-monthly: 12
        keep-yearly: 1
        prune: true
        host: false

      backup:
        source:
          - "/opt/kdata"
          - "/backup"
        tag:
          - "kellnr"
