apiVersion: apps/v1
kind: Deployment
metadata:
  name: teslamate
  namespace: teslamate
  labels:
    app: teslamate
  annotations:
    ignore-check.kube-linter.io/no-read-only-root-fs: "app writes to log files in container"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: teslamate
  template:
    metadata:
      name: teslamate
      labels:
        app: teslamate
    spec:
      initContainers:
        - name: wait-for-postgres
          image: postgres:17.6@sha256:00bc86618629af00d2937fdc5a5d63db3ff8450acf52f0636ec813c7f4902929
          command:
            - sh
            - -c
            - |
              until pg_isready -h $DATABASE_HOST -U $DATABASE_USER;
                do echo "Waiting for Postgres...";
                sleep 5;
              done;
              echo "Postgres is up and running!"
          env:
            - name: DATABASE_HOST
              valueFrom:
                secretKeyRef:
                  key: host
                  name: database-secrets
            - name: DATABASE_USER
              valueFrom:
                secretKeyRef:
                  key: username
                  name: database-secrets
          securityContext:
            runAsUser: 10001
            runAsNonRoot: true
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
          resources:
            requests:
              cpu: 5m
            limits:
              memory: 16Mi
      containers:
        - name: teslamate
          image: teslamate/teslamate:2.2.0@sha256:db111162f1037a8c8ce6fe56e538a4432b8a34d3d6176916ba22d42ef7ee4b78
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 4000
              protocol: TCP
              name: http
          envFrom:
            - secretRef:
                name: secrets
          env:
            - name: DATABASE_USER
              valueFrom:
                secretKeyRef:
                  key: username
                  name: database-secrets
            - name: DATABASE_PASS
              valueFrom:
                secretKeyRef:
                  key: password
                  name: database-secrets
            - name: DATABASE_NAME
              value: teslamate
            - name: DATABASE_HOST
              valueFrom:
                secretKeyRef:
                  key: host
                  name: database-secrets
            - name: DATABASE_SSL
              value: "true"
            - name: DATABASE_SSL_CA_CERT_FILE
              value: /etc/ssl/certs/ca-certificates.crt
            - name: DISABLE_MQTT
              value: "true"
          securityContext:
            privileged: false
            allowPrivilegeEscalation: false
            runAsUser: 10001
            runAsGroup: 10001
            capabilities:
              drop:
                - ALL
          resources:
            requests:
              cpu: 10m
              memory: 256Mi
            limits:
              memory: 512Mi
          volumeMounts:
            - mountPath: /etc/ssl/certs/ca-certificates.crt
              name: certs
              subPath: ca.crt
      restartPolicy: Always
      volumes:
        - name: certs
          configMap:
            name: anshulg-ca
