[Unit]
Description=Prune unused Docker images older than 7 days
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker image prune -af --filter=until=168h
Nice=19
IOSchedulingClass=idle
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
