# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

auth.anshulg.com {
	encode zstd gzip

	reverse_proxy https://localhost:8443 {
		transport http {
			tls_trust_pool file /etc/caddy/AnshulGuptaRootCA.crt
			tls_server_name auth.anshulg.com
		}
	}
}

anshulg.com {
	encode zstd gzip

	reverse_proxy http://localhost:4321 {
		health_uri /
		health_interval 10s
		health_fails 3
		health_timeout 2s
		health_status 200
	}
}

c012e955-9630-42f2-9ec0-138c037d020d.anshulg.com {
	reverse_proxy https://192.168.3.1 {
		header_up Host renovate-pr-triage.internal
		transport http {
			tls_trust_pool file /etc/caddy/AnshulGuptaRootCA.crt
			tls_server_name renovate-pr-triage.internal
		}
	}
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
