apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../kustomize/base
  - ../../kustomize/workloads/deployment
  - secret-env.yaml
  - valkey.yaml

components:
  - ../../kustomize/components/ingress
  - ../../kustomize/components/direct-ingress

namePrefix: yamtrack-
namespace: yamtrack
labels:
  - pairs:
      app.kubernetes.io/name: yamtrack
    includeSelectors: true

images:
  - name: busybox
    newName: ghcr.io/fuzzygrim/yamtrack
    newTag: 0.24.11@sha256:0cf6cfbaf160248636e5116cbdd587dd8060d91c976dbf44e8d0b565456ad8ff

configMapGenerator:
  - name: domain-config
    literals:
      - DOMAIN=yamtrack.internal
      - DIRECT_DOMAIN=yamtrack.anshulg.direct
  - name: env-config
    literals:
      - TZ=America/Los_Angeles
      - REDIS_URL=redis://yamtrack-yamtrack-valkey:6379
      - URLS=https://yamtrack.internal,https://yamtrack.anshulg.direct
      - SOCIAL_PROVIDERS=allauth.socialaccount.providers.openid_connect
      - SOCIALACCOUNT_ONLY=True
      - REGISTRATION=False
      - REDIRECT_LOGIN_TO_SSO=True

patches:
  - target:
      kind: Deployment
    path: patch-deployment.yaml
  - target:
      kind: Service
    path: patch-service.yaml
