apiVersion: apps/v1
kind: Deployment
metadata:
  name: nzbget
  labels:
    app: nzbget
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nzbget
  template:
    metadata:
      name: nzbget
      annotations:
        linkerd.io/inject: enabled
      labels:
          app: nzbget
    spec:
      containers:
        - name: nzbget
          image: lscr.io/linuxserver/nzbget:25.4.20251205@sha256:1ecf2cbb7ca98d2893682e01d6c30bd4f912c5e217e329e2fdd73af20a0b67dd
          imagePullPolicy: IfNotPresent
          env:
            - name: PUID
              value: "2007"
            - name: PGID
              value: "3002"
            - name: TZ
              value: "America/Los_Angeles"
          ports:
            - containerPort: 6789
              protocol: TCP
              name: http
          volumeMounts:
            - mountPath: /config
              name: config
            - mountPath: /data
              name: data
            - mountPath: /etc/ssl/certs/ca-certificates.crt
              name: ca
              subPath: ca.crt
      initContainers:
        - name: copy-config
          image: busybox:1.37.0@sha256:d80cd694d3e9467884fcb94b8ca1e20437d8a501096cdf367a5a1918a34fc2fd
          command:
            - cp
            - /cfg-secret/config.conf
            - /config/nzbget.conf
          volumeMounts:
            - mountPath: /config
              name: config
            - mountPath: /cfg-secret
              name: cfg-secret
          securityContext:
            runAsNonRoot: true
            runAsUser: 2007
            runAsGroup: 3002
            readOnlyRootFilesystem: true
      securityContext:
        fsGroup: 3002
      restartPolicy: Always
      volumes:
        - name: cfg-secret
          secret:
            secretName: nzbget-config
        - name: config
          emptyDir:
            medium: Memory
        - name: data
          hostPath:
            path: /data
            type: Directory
        - name: ca
          configMap:
            name: anshulg-ca
      nodeSelector:
        kubernetes.io/hostname: odroid-h4
