apiVersion: apps/v1
kind: Deployment
metadata:
  name: nzbget
  labels:
    app: nzbget
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nzbget
  template:
    metadata:
      name: nzbget
      annotations:
        linkerd.io/inject: enabled
      labels:
          app: nzbget
    spec:
      containers:
        - name: nzbget
          image: lscr.io/linuxserver/nzbget:25.4.20260130@sha256:51184d6996a33e79f5db2136c31724f3ce783fde708b3ef780f259e7f168e76a
          imagePullPolicy: IfNotPresent
          env:
            - name: PUID
              value: "2007"
            - name: PGID
              value: "3002"
            - name: TZ
              value: "America/Los_Angeles"
          ports:
            - containerPort: 6789
              protocol: TCP
              name: http
          volumeMounts:
            - mountPath: /config
              name: config
            - mountPath: /data
              name: data
            - mountPath: /etc/ssl/certs/ca-certificates.crt
              name: ca
              subPath: ca.crt
      initContainers:
        - name: copy-config
          image: busybox:1.37.0@sha256:b3255e7dfbcd10cb367af0d409747d511aeb66dfac98cf30e97e87e4207dd76f
          command:
            - cp
            - /cfg-secret/config.conf
            - /config/nzbget.conf
          volumeMounts:
            - mountPath: /config
              name: config
            - mountPath: /cfg-secret
              name: cfg-secret
          securityContext:
            runAsNonRoot: true
            runAsUser: 2007
            runAsGroup: 3002
            readOnlyRootFilesystem: true
      securityContext:
        fsGroup: 3002
      restartPolicy: Always
      volumes:
        - name: cfg-secret
          secret:
            secretName: nzbget-config
        - name: config
          emptyDir:
            medium: Memory
        - name: data
          hostPath:
            path: /data
            type: Directory
        - name: ca
          configMap:
            name: anshulg-ca
      nodeSelector:
        kubernetes.io/hostname: odroid-h4
