# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

#:443 {
#	tls /etc/caddy/certs/tls.crt /etc/caddy/certs/tls.key
#	respond 421 {
#		body "Misdirected Request"
#		close
#	}
#}
#

hermes.internal {
	# Bind to wireguard
	bind 192.168.3.5 fd30:e1bf:9b4f:100::5

	encode zstd gzip

	tls /etc/caddy/certs/tls.crt /etc/caddy/certs/tls.key

	handle /oauth2/* {
		reverse_proxy unix//run/oauth2.sock {
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-Uri {uri}
		}
	}

	handle {
		forward_auth unix//run/oauth2.sock {
			uri /oauth2/auth
			header_up X-Real-IP {remote_host}

			@error status 401
			handle_response @error {
				redir * /oauth2/sign_in?rd={scheme}://{host}{uri}
			}
		}
		reverse_proxy http://localhost:8787
	}
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
