# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

auth.anshulg.com {
	encode zstd gzip

    # Webfinger endpoint for Tailscale OAuth
    # TODO: Make this dynamic based on the user-agent or IP address
	redir /.well-known/webfinger https://auth.example.com/oauth2/openid/tailscale{uri} 307

	reverse_proxy https://localhost:8443 {
		transport http {
			tls_trusted_ca_certs /home/anshulgupta/ca.crt
			tls_server_name auth.anshulg.com
		}
	}
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
