version: "2"

services:
  kanidm:
    image: docker.io/kanidm/server:1.8.4@sha256:dcfff22406e277985f1fe15f3ad1eebf5a525fd9841026272a75d483643d0cba

    ports:
      - "127.0.0.1:8443:8443"
      - "127.0.0.1:3636:3636"

    volumes:
      - /home/anshulgupta/data:/data
      - /home/anshulgupta/certs:/certs:ro
      - /home/anshulgupta/backups:/backups

    restart: always
    user: "1000:100"
    cap_drop:
      - ALL
    # read_only: true

    healthcheck:
      test: ["CMD", "/sbin/kanidmd", "healthcheck", "-c", "/data/server.toml"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 60s
      start_interval: 5s

    deploy:
      resources:
        reservations:
          cpus: "0.25"
          memory: 1G
        limits:
          cpus: "0.85"
          memory: 2G
