global
  log /dev/log daemon
  maxconn 2000
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  daemon
  stats socket /var/lib/haproxy/stats user haproxy group haproxy mode 0640 level operator
  tune.bufsize 32768

defaults
  log     global
  mode    tcp
  option  log-health-checks
  option  log-separate-errors
  option  dontlog-normal
  option  dontlognull
  option  tcplog
  option  socket-stats
  retries 3
  maxconn 2000
  timeout connect     5s
  timeout client     50s
  timeout server    450s

frontend ldaps_frontend
  bind            *:636
  mode            tcp
  option          tcplog
  default_backend ldaps_backend

backend ldaps_backend
  mode   tcp
  option tcplog
  server backend1 127.0.0.1:3636 check inter 2000 rise 2 fall 3
