apiVersion: apps/v1
kind: Deployment
metadata:
  name: miniflux-ai
  labels:
    app: miniflux-ai
spec:
  replicas: 1
  selector:
    matchLabels:
      app: miniflux-ai
  template:
    metadata:
      name: miniflux-ai
      labels:
        app: miniflux-ai
    spec:
      containers:
        - name: miniflux-ai
          image: ghcr.io/qetesh/miniflux-ai:latest@sha256:57015c485953b91d613e1adf354fec5b6ee3894ef84a77d6de4ff1c6c74c2698
          imagePullPolicy: Always
          env:
            - name: TZ
              value: "UTC"
          volumeMounts:
            - mountPath: /app/config.yml
              name: config
              subPath: config.yml
          securityContext:
            runAsUser: 10001
            runAsNonRoot: true
            privileged: false
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: [ "ALL" ]
          #resources:
          #  requests:
          #    cpu: 250m
          #    memory: 500Mi
          #  limits:
          #    memory: 1Gi
      restartPolicy: Always
      volumes:
        - name: config
          secret:
            secretName: miniflux-ai-config
