# Default values for archestra.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

# Traefik IngressRoute options
ingressRoute:
  enabled: true
  entryPoints:
    - websecure
  hosts:
    - archestra.internal
  middlewares:
    - name: security-headers
      namespace: kube-system
  tls:
    enabled: true
    duration: 2160h0m0s
    renewBefore: 720h0m0s
    privateKey:
      algorithm: ECDSA
      size: 384
      rotationPolicy: Always
    issuerRef:
      kind: ClusterIssuer
      name: rpi5-ca

archestra-platform:
  postgresql:
    enabled: false
    external_database_url: "postgres://archestra:59671c62a35e9cbdbb324a3600d2822b166d5ec769cd7f8ead2d4231e3ea575cb119888b665b3c6c48c86d31ca40625e6e82183438eaab76991f0228a044047a@rpi4.anshulg.direct:5432/archestra"

  archestra:
    nodeSelector:
      kubernetes.io/arch: amd64
    env:
      HOSTNAME: "0.0.0.0"
      ARCHESTRA_FRONTEND_URL: "https://archestra.internal"
    envFromSecrets:
      - name: ARCHESTRA_AUTH_SECRET
        secretName: archestra-secrets
        secretKey: ARCHESTRA_AUTH_SECRET
