apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../kustomize/base
  - ../../kustomize/workloads/statefulset
  - secrets.yaml

components:
  - ../../kustomize/components/ingress
  - ../../kustomize/components/direct-ingress
  - ../../kustomize/components/security-context
  - ../../kustomize/components/tailscale

namePrefix: qui-
labels:
  - pairs:
      app.kubernetes.io/name: qui
    includeSelectors: true

images:
  - name: busybox
    newName: ghcr.io/autobrr/qui
    newTag: v1.7.0@sha256:cea707c0254b3afbce24a91350d771123ad769b4e66b30b7e651c78f0b350951

configMapGenerator:
  - name: domain-config
    literals:
      - DOMAIN=qui.internal
      - DIRECT_DOMAIN=qui.anshulg.direct
      - TS_HOST=qui

patches:
  - target:
      kind: StatefulSet
    path: patch-statefulset.yaml
  - target:
      kind: StatefulSet
    path: patch-statefulset2.yaml
  - target:
      kind: Service
    path: patch-service.yaml
