apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../kustomize/base
  - ../../kustomize/workloads/statefulset
  - secrets.yaml

components:
  - ../../kustomize/components/ingress
  - ../../kustomize/components/direct-ingress
  - ../../kustomize/components/security-context
  - ../../kustomize/components/tailscale

namePrefix: qui-
labels:
  - pairs:
      app.kubernetes.io/name: qui
    includeSelectors: true

images:
  - name: busybox
    newName: ghcr.io/autobrr/qui
    newTag: v1.9.1@sha256:1a8325626d1e0d544cc3ae452e56b82120f59e1cf07afeac7d3cce948094ce8d

configMapGenerator:
  - name: domain-config
    literals:
      - DOMAIN=qui.internal
      - DIRECT_DOMAIN=qui.anshulg.direct
      - TS_HOST=qui

patches:
  - target:
      kind: StatefulSet
    path: patch-statefulset.yaml
  - target:
      kind: StatefulSet
    path: patch-statefulset2.yaml
  - target:
      kind: Service
    path: patch-service.yaml
